<!DOCTYPE html>
<html>
<head>
  <title>Rspec gem template</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rspec_gem_template/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
